/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: Inter-Variable;
  --font-accent: 'PressStart2P';
  --heading-font-weight: 715;
  --text-font-weight: 410;
  --complex-gradient: 
    repeating-linear-gradient(
    90deg,
    #d3d3d3 0,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  ),
  repeating-linear-gradient(
    180deg,
    #d3d3d3 0,
    #d3d3d3 2px,
    transparent 2px,
    transparent 4px
  ),
  linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --container-width-desctop: 700px;
  --container-width-mobile: 100%;
  --text-stroke-color: #FFFFFF;
  --text-color: #FFFFFF;
  --bg-color: #FFFFFF;
  --contour-color: #000000;
  --animation-fill-color: #000;
  --animation-main-color: #FF0000;
  --main-body-color: transparent;
  --core-color: transparent;
  --sparcles-opacity: 0;
  --overlay-color: #000000;
}